<div id="header">
    <div class="container">
        <a class="title" href="/">brbe</a>
        <span class="u-pull-right">
            <span class="menu">
                <a href="/about">about</a>
                <a href="/posts">posts</a>
            </span>
        <span class="social">
            <a href="https://www.facebook.com/brandon.robert.bennett/"><i class="im im-facebook"></i></a>
            <a href="https://www.instagram.com/nemith/"><i class="im im-instagram"></i></a>
            <a href="https://www.linkedin.com/in/brandonrbennett/"><i class="im im-linkedin"></i></a>
            <a href="https://twitter.com/brandonrbennett/"><i class="im im-twitter"></i></a>
            <a href="https://github.com/nemith"><i class="im im-github"></i></a>
        </span>
        </span>
    </div>
</div>